{{- $colors := get .colors .theme }}
@define-color background #{{- get $colors "background"}};
@define-color foreground #{{- get $colors "foreground"}};
@define-color foreground_white #{{- get $colors "foreground_white"}};
@define-color cyan #{{- get $colors "cyan"}};
@define-color green #{{- get $colors "green"}};
@define-color pink #{{- get $colors "pink"}};
@define-color purple #{{- get $colors "purple"}};
@define-color red #{{- get $colors "red"}};
@define-color yellow #{{- get $colors "yellow"}};
