{{- $colors := get .colors .theme }}
@define-color background #{{- get $colors "background"}};
@define-color foreground #{{- get $colors "foreground"}};
@define-color foreground_white #{{- get $colors "foreground_white"}};
@define-color color_1 #{{- get $colors "color_1"}};
@define-color color_2 #{{- get $colors "color_2"}};
@define-color color_3 #{{- get $colors "color_3"}};
@define-color color_4 #{{- get $colors "color_4"}};
@define-color color_5 #{{- get $colors "color_5"}};
@define-color color_6 #{{- get $colors "color_6"}};
