@import url("./colors.css");
* {
    border: none;
    border-radius: 20px;
    font-family: {{ get .font "regular"}}, Helvetica, Arial, sans-serif;
    font-size: {{ get .font "size"}}px;
    min-height: 0;
}

window {
	/*font-weight: bold;*/
}

window#waybar {
    background-color: transparent;
    color: @foreground_white;
    transition-property: background-color;
    transition-duration: .5s;
}

/*-----module groups----*/
.modules-right {
	background-color: @background;
    margin: 2px 10px 0 0;
    border-radius: 10px;
}

.modules-center {
	background-color: @background;
    margin: 2px 0 0 0;
    border-radius: 10px;
}

/*-----modules indv----*/
#workspaces button {
    background: @background;
    color: @foreground_white;
}

#workspaces button.visible {
    background: @color_6;
    color: black;
}

#workspaces button.active {
    background: @color_1;
    color: black;
}

#workspaces button.urgent {
    background-color: @color_5;
}

#workspaces button:hover {
    box-shadow: inherit;
	background-color: @color_1;
    color: black;
}

#workspaces button.focused {
	background-color: rgba(0,43,51,0.85);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,

#clock {
    padding: 0 7px;
}

#idle_inhibitor {
    padding: 0 15px;
}

#mode {
    color: @color_1;
    font-weight: bold;
}

#custom-power {
    background-color: @color_3;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}

/*-----Indicators----*/
#idle_inhibitor.activated {
    color: @color_3;
}

#idle_inhibitor.deactivated {
    color: @color_4;
}

#pulseaudio.muted {
    color: @color_3;
}

#battery.charging {
    color: @color_2;
}

#battery.warning:not(.charging) {
	color: #e6e600;
}

#battery.critical:not(.charging) {
    color: #cc3436;
}

#temperature.critical {
    color: @color_5;
}
