{{- $colors := get .colors .theme }}
$background = rgb({{- get $colors "background"}})
$foreground = rgb({{- get $colors "foreground"}})
$foreground_white = rgb({{- get $colors "foreground_white"}})
$color_1 = rgb({{- get $colors "color_1"}})
$color_2 = rgb({{- get $colors "color_2"}})
$color_3 = rgb({{- get $colors "color_3"}})
$color_3 = rgb({{- get $colors "color_3"}})
$color_5 = rgb({{- get $colors "color_5"}})
$color_6 = rgb({{- get $colors "color_6"}})
