{{- $colors := get .colors .theme }}
$background = rgb({{- get $colors "background"}})
$foreground = rgb({{- get $colors "foreground"}})
$foreground_white = rgb({{- get $colors "foreground_white"}})
$cyan = rgb({{- get $colors "cyan"}})
$green = rgb({{- get $colors "green"}})
$pink = rgb({{- get $colors "pink"}})
$purple = rgb({{- get $colors "purple"}})
$red = rgb({{- get $colors "red"}})
$yellow = rgb({{- get $colors "yellow"}})
